.indicator-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permet de passer à la ligne suivante */
    gap: 10px;
    width: 100%;
}
.main{
    width: 100vw;
    height: 100vh;
    background: #121212 ;
    color : #DADADA;
}


.information-crytpo{
    padding-left: 30px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #a688fa

}

.dataChart{
    display: flex;
    flex-direction: row;
}

.card-chart{
    background: #282828;
    border-radius: 30px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: auto;

}
