.title-indicator{
    text-align: center;
    color: #a688fa
}
.indicator-card{
    background: #282828;
    border-radius: 30px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
